.certification {
    background: var(--second-bg-color);
    min-height: 520px;
}

.certification__conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.card__container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
    width: 320px;
    background: var(--primary-bg-color);
    cursor: pointer;
}

.card:hover {
    background: var(--main-color);
}

.card h2 {
    padding: 2em;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    height: 140px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.card .card__detalhes {
    width: 100%;
    margin-left: 20px;
    overflow: hidden;
    height: 0px;
    transition: all .5s;
    transition-delay: .2s;
}

.card:hover .card__detalhes {
    height: 80px;
}

.card .card__detalhes .card__descricao p{
    font-size: 1.4rem;
    font-weight: 300;
}

.card__descricao span,
.card__descricao a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--second-bg-color);
}

.card__descricao a:hover {
    text-decoration: underline;
    color: var(--primary-bg-color);
}

.card .arrow {
    padding: 15px;
    font-size: 1.7rem;
    transform: rotate(180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card__container__responsive {
    display: none;
}

@media (max-width: 1600px) {
    .card__container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 280px;
    }

    .card h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px), (max-width: 800px) and (max-height: 400px) {
    .certification {
        min-height: auto;
    }

    .card,
    .card__container {
        display: none;
    }

    .certification .animacao,
    .card__carrossel {
        display: block !important;
    }
    
    .card__container__responsive {
        display: block !important; 
        max-width: 60%;
        height: 200px;
        margin-bottom: 30px;
    }

    .certification__conteudo {
        overflow: hidden;
    }

    .card__descricao {
        background: var(--primary-bg-color);
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
    }

    .card__descricao h2 {
        margin-bottom: 10px;
        color: var(--main-color);
    }

    .card__descricao span,
    .card__descricao a {
        color: var(--main-color);
    }

    .card__descricao a:hover {
        color: var(--main-color);
    }

    .card__container__responsive .swiper-pagination {
        position: relative;
        margin-top: 12px;
    }
}

@media (max-width: 375px) {
    .card__container__responsive {
        width: 100%;
        height: 250px;
    }

    .card__descricao {
        padding: 10px;
    }

    .card__descricao h2 {
        text-align: center;
        padding: 0 .5em;
    }
}
